<h2><u><%= @employee.name %></u></h2>
<p><u>Department</u>: <%= @employee.department.name %></p>
<p><u>Oldest Ticket</u>: <%= @employee.oldest_ticket %></p>

<%= form_with url: "/employees/#{@employee.id}", method: :patch, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<p><u>Tickets</u>:</p>
<ul>
  <% @ordered_tickets.each do |ticket| %>
    <li>
      <%= ticket.subject %><br>
      <%= "Age: #{ticket.age}" %>
    </li>
  <% end %>
</ul>